@import '~bootstrap/scss/bootstrap';

header {
    height: 100px;

    .logo {
        height: 50%;
        margin: 10px 0;

        img {
            height: 100%;
        }
    }

    .col-12 {
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;

        li {
            padding: 30px 10px;

            a {
                text-decoration: none;
                color: #000;
                font-size: 14px;
                text-transform: uppercase;
                padding-bottom: 50px;
                font-weight: 600;

                &:hover {
                    color: $primary;
                    border-bottom: 5px solid $primary;
                }
            }

            .active {
                color: $primary;
                border-bottom: 5px solid $primary;
            }

        }
    }

    .search {
        padding: 30px 10px;

    }
}

footer {
    .bg_img {
        background-image: url('../images/footer-bg.jpg');

        .text_white {
            color: #fff;
            margin: 25px;
        }

        ul {
            list-style: none;
            margin-bottom: 20px;
            margin-right: 20px;

            li {
                padding: 5px 0;

                a {
                    text-decoration: none;
                    color: grey;

                }
            }
        }

        .col-12 {
            display: flex;
            background-image: url('../resources/images/dc-logo-bg.png');
            background-position: right;
            background-repeat: no-repeat;

        }

    }

    .bg_grey {
        background-color: rgb(71, 71, 71);
        padding: 20px 0;

        .row {
            justify-content: space-between;
            align-items: center;
        }

        button {
            border: 2px solid $primary;
            color: white;
            padding: 5px;
            background-color: transparent;
        }

        .text_right {

            span {
                margin-right: 15px;
                color: $primary;
            }

            a {
                vertical-align: middle;
                margin: 0 5px;
            }
        }
    }
}